@namespace "example.view.*";

LabelDisplayComponent
{
    skin-class: ClassReference("example.skins.LabelDisplayComponentSkin");
}

NumericStepperInputComponent
{
    skin-class: ClassReference("example.skins.NumericStepperInputComponentSkin");
}

SliderInputComponent
{
    skin-class: ClassReference("example.skins.SliderInputComponentSkin");
}

DropDownListInputComponent
{
    skin-class: ClassReference("example.skins.DropDownListInputComponentSkin");
}
